{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": false
        // "ssr": true
      }
    ]
    // Есть в вебпаке
    // [
    //   require.resolve("babel-plugin-module-resolver"),
    //   {
    //     extensions: [".js", ".ts", ".tsx", ".json"],
    //     alias: {
    //       "@features": "./src/features",
    //       "@ui": "./src/ui",
    //       "@assets": "./src/assets",
    //     },
    //   },
    // ],
  ]
}
